.contact-main {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 2.5rem;
	justify-content: center;
	align-items: center;
}

form {
	font-family: 'Euclid Circular A', sans-serif;
	color: rgb(119, 119, 119);
	width: 40%;
	height: max-content;
	border-radius: 15px;
	border: 0.1rem solid rgba(0, 0, 0, 0.663);
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 5rem;
}

fieldset {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
}

label {
	display: block;
	margin: 0;
	padding: 0;
}

input,
select {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

select {
	background-color: #dfddf6;
}

input[type="number"] {
	width: 60%;
}

input[type=submit] {
	width: 100%;
	background-color: #7168d8;
	color: white;
	padding: 14px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: width 2s, height 4s, background-color 3s;
}

input[type=submit]:hover {
	background-color: #5745a0;
}

.agreement-container {
	margin-top: 1rem;
	width: 100%;
	display: flex;
	align-items: baseline;
}

#agreement {
	width: 5%;
	justify-self: flex-start;
}

.personal-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	row-gap: 0.2rem;
	column-gap: 1rem;
}

label[for="fname"],
label[for="education"],
#education-levels,
#fname {
	grid-column: 1 / span 2;
}

label[for="laname"],
label[for="position"],
#positions,
#lname {
	grid-column: 3 / span 2;
}

label[for="email"],
#email {
	grid-column: 1 / span 3;
}

label[for="age"],
#age {
	grid-column-start: 4;
}

@media (max-width: 1000px) {
	form {
		width: 80%;
	}
}