body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-size: 1.1em;
	text-align: center;
}

h1,
h2 {
	text-align: center;
}

#small-logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	display: flex;
}

header {
	top: 0;
	box-shadow: 0 1px 4px rgba(70, 70, 70, 0.408);
	padding: 0;
	background-color: white;
	width: 100%;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

header li {
	display: inline-block;
}

#main-pages a {
	padding: 0.75rem;
	text-decoration: none;
	color: black;
	transition: all 0.3s ease;
}

#main-pages a:hover {
	background-color: black;
	box-shadow: 0 2px 3px grey;
	color: whitesmoke;
}

.victor-mono-regular h2,
h1 {
	font-family: "Victor Mono", monospace;
	font-optical-sizing: auto;
	font-weight: bold;
}

footer {
	background-color: rgb(228, 223, 223);
	padding: 3rem 1rem 0.5rem;
}

address {
	position: relative;
	left: 10px;
	transition: all 0.3s ease;
	width: max-content;
	margin-top: 1rem;
	font-style: normal
}

address:hover {
	transition-delay: 2s;
	font-weight: bold;
	font-size: 110%;
	background-color: rgb(238, 233, 233);
	filter: brightness(1.1) contrast(1.1);
}

address::selection {
	color: whitesmoke;
	background-color: rgb(238, 233, 233);
	text-shadow: 2px 1px 2px blue;
}


footer p {
	clear: right;
	margin: 0;
}

footer nav {
	float: right;
}

footer a {
	color: black;
}