.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

.popup-content {
	background: white;
	padding: 20px;
	border-radius: 10px;
	min-width: 300px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.popup-buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.popup-buttons button {
	background-color: black;
	width: 13%;
	border-radius: 6px;
	color: white;
}

.popup input {
	width: 90%;
	padding: 6px;
	margin-top: 10px;
}